
# Linux
#pydev_path = "/home/andy/.eclipse/org.eclipse.platform_3.8_155965261/plugins/org.python.pydev_2.7.5.2013052819/pysrc"

# Windows
#pydev_path = "C:/Program Files/eclipse/plugins/org.python.pydev.debug_2.4.0.2012020116/pysrc"

import sys
if sys.path.count(pydev_path) < 1:
    sys.path.append(pydev_path)

import pydevd
pydevd.settrace(stdoutToServer=False, stderrToServer=False, suspend=False)
