
# Linux (using mate-terminal)
#mate-terminal --maximize -e "$BLENDER_DIR/blender -P scripts/__debug__.py blend/audiosculpture-rig.blend"

# OSX
#osascript -e 'tell application "Terminal" to do script "\"$BLENDER_DIR/blender -P scripts/__debug__.py\""'
